<!-- Menu avec ng-bootstrap -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <!-- Autres éléments du menu ici si nécessaire -->
      </ul>
      
      <div class="d-flex align-items-center">
        <!-- Avatar avec dropdown -->
        <div class="nav-item" ngbDropdown display="dynamic" placement="bottom-end">
          <a class="nav-link d-flex align-items-center" id="navbarDropdown" role="button" ngbDropdownToggle>
            <img
              src="https://mdbootstrap.com/img/Photos/Avatars/img (31).webp"
              class="rounded-circle"
              height="25"
              alt="Avatar"
              loading="lazy"
            />
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown" class="dropdown-menu dropdown-menu-end">
            <a ngbDropdownItem href="#">Mon profil</a>
            <a ngbDropdownItem href="#">Paramètres</a>
            <div class="dropdown-divider"></div>
            <a ngbDropdownItem href="#">Déconnexion</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>